<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block th:fragment="main_footer">

</th:block>

<!-- member footer -->
<th:block th:fragment="member_main_footer">
    <!-- footer -->
    <div class="footer">
        <div class="links">
            <a href="#">Meta</a>
            <a href="#">소개</a>
            <a href="#">블로그</a>
            <a href="#">채용정보</a>
            <a href="#">도움말</a>
            <a href="#">API</a>
            <a href="#">개인정보처리방침</a>
            <a href="#">약관</a>
            <a href="#">인기 계정</a>
            <a href="#">위치</a>
            <a href="#">Instagram Lite</a>
            <a href="#">연락처 업로드 & 비사용자</a>
            <a href="#">Meta verified</a>
            <a href="#" id="darkmode-toggle">Darkmode</a>
        </div>
        <div class="copyright">
            © 2023 Instagram from Meta
        </div>
    </div>
    </div>
</th:block>

</html>