<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="postModalFragment">
    <script th:inline="javascript">
        $(function(){
            let modal = $('#modal_postSelect');
            let modal_modify = $('#modal_modify_feed_content');
​
            let j = 0;
​
            $(document).on('click', '.post_delete', function(e){
                e.preventDefault();
                let post_no = [[${post.no}]];
                let username = [[${user.username}]];
​
                console.log('post_no' + post_no);
                console.log('username' + username);
​
                let jsonData = {"post_no":post_no};
​
                $.ajax({
                    url:'/Photostagram/deletePost',
                    method:'POST',
                    data:jsonData,
                    dataType:'json',
                    success:function(data){
                        console.log('result : '+data.result);
                        if(data.result > 0){
                            location.href='/Photostagram/profile?username='+username;
                        }
                    }
                });
            });
​
            $(document).on('click', '.modal_postModify', function(){
                modal.css('display', 'none');
                modal_modify.css('display', 'flex');
​
                let image1 = [[${images[0].thumb}]];
                console.log(image1);
​
                $('#input_image_post').css({
                    "background-image": "url(/Photostagram/thumb/"+image1+")",
                    "background-size": "cover",
                    "background-repeat" : "no-repeat",
                    "background-position" : "center"
                });
            });
​
            $(document).on('click', '.modal_title_side_post_modify', function(){
                let content = $('#input_content_post').val();
                let post_no = [[${post.no}]];
                let length = $('.tag1').length;
                let users = [];
                let tops = [];
                let lefts = [];
                let pages = [];
​
                for(i=0; i<length; i++){
                  users.push($('#tooltipArea_post').children().eq(i).attr('data-no'));
                  console.log("offsetx top : "+$('#tooltipArea_post').children().eq(i).position().top);
                  console.log("offsetx left : "+$('#tooltipArea_post').children().eq(i).position().left);
                  tops.push(Math.ceil($('#tooltipArea_post').children().eq(i).attr("data-top")));
                  lefts.push(Math.ceil($('#tooltipArea_post').children().eq(i).attr("data-left")));
                  pages.push($('#tooltipArea_post').children().eq(i).attr('data-page'));
                }
​
                let jsonData = {
                    "content":content,
                    "post_no":post_no,
                    "tags":users,
                    "tops":tops,
                    "lefts":lefts,
                    "pages":pages
                };
​
                console.log('content : '+content);
                console.log('users : '+users);
                console.log('tops : '+tops);
                console.log('lefts : '+lefts);
​
​
                $.ajax({
                    url:'/Photostagram/modifyPost',
                    method:'POST',
                    data:jsonData,
                    dataType:'json',
                    success:function(data){
                        if(data.result > 0){
                            location.href='/Photostagram/board/post?no='+post_no;
                        }
                    }
                });
            });
​
            $(document).on('click', '.tagSearchesPost', function(){
                let select = $(this).children('.tagSearchUserPost');
                let user_no = select.attr('data-userno');
                let username = select.attr('data-username');
​
                console.log('username : '+username);
​
                $('.tagSearchesPost').empty();
                let val = $('input[name=tagUserPost]').val();
                val = '';
                $('.tagModalPost').hide();
​
                let length = $('.tag1').length;
                let left = x-18;
​
                for(i=0; i<length; i++){
                    let no = $('#tooltipArea_post').children().eq(i).attr('data-no');
                    if(no == user_no){
                        let tagObject = $('#tooltipArea_post').children().eq(i);
                        tagObject.css({
                            left:x-18,
                            top:$(window).scrollTop()+y,
                            display:'block'
                        });
                        return;
                    }
                }
​
                let tag = "<div class='tag1' data-no="+user_no+" data-page="+j+" data-top="+y+" data-left="+left+">";
                    tag += "<div></div>";
                    tag += "<div class='username'><span>"+username+"</span><button>x</button></div>";
                    tag += "</div>";
​
                let tagObj = $(tag);
​
                console.log("x좌표 : "+x);
                console.log("y좌표 : "+y);
​
                tagObj.css({
                       left:x-18,
                       top:$(window).scrollTop()+y,
                       display:'block'
                       });
​
                $('#tooltipArea_post').append(tagObj);
            });
​
            $('.afterBtnPost').on('click', function(){
                let images = [[${images}]];
​
                if(j+1 == images.length)return;
                if(j+2 == images.length){
                    $(this).css({"visibility":"hidden"});
                }
                j++;
​
                let length = $('#tooltipArea_post').children('.tag1').length;
                for(i=0; i<length; i++){
                    if($('#tooltipArea_post').children().eq(i).attr('data-page') == j){
                        $('#tooltipArea_post').children().eq(i).show();
                    }else{
                        $('#tooltipArea_post').children().eq(i).hide();
                    }
                }
​
                let image = images[j].thumb;
​
                $('#input_image_post').css({
                    "background":"url(/Photostagram/thumb/"+image+")",
                    "background-size": "cover",
                    "background-repeat" : "no-repeat",
                    "background-position" : "center"
                });
​
                $('.beforeBtnPost').css({"visibility":"visible"});
            });
​
            $('.beforeBtnPost').on('click', function(){
                let images = [[${images}]];
​
                if(j == 0) return;
                if(j == 1){
                    $(this).css({"visibility":"hidden"});
                }
​
                j--;
​
                let length = $('#tooltipArea_post').children('.tag1').length;
                for(i=0; i<length; i++){
                    if($('#tooltipArea_post').children().eq(i).attr('data-page') == j){
                        $('#tooltipArea_post').children().eq(i).show();
                    }else{
                        $('#tooltipArea_post').children().eq(i).hide();
                    }
                }
​
                let image = images[j].thumb;
​
                $('#input_image_post').css({
                    "background":"url(/Photostagram/thumb/"+image+")",
                    "background-size": "cover",
                    "background-repeat" : "no-repeat",
                    "background-position" : "center"
                });
​
                $('.afterBtnPost').css({"visibility":"visible"});
            });
        });
    </script>
    <div id="modal_postSelect" class="modalPost modal_post_overlay">
        <div class="modal_post_window">
            <div class="modal_post_title">
                <div class="modal_postDelete">
                    <span>삭제</span>
                </div>
                <div class="modal_postModify">
                    <span>수정</span>
                </div>
                <div class="modal_postCancel">
                    <span>취소</span>
                </div>
            </div>
        </div>
    </div>
    <div id="modal_postSelect_delete" class="modalPost modal_post_overlay">
        <div class="modal_post_window_delete">
            <div class="modal_post_title">
                <div class="confirm_delete">
                    <span>게시물을 삭제할까요?</span>
                    <span>이 게시물을 삭제하시겠어요?</span>
                </div>
                <div class="post_delete">
                    <span>삭제</span>
                </div>
                <div class="post_delete_cancel">
                    <span>취소</span>
                </div>
            </div>
        </div>
    </div>
    <div id="modal_modify_feed_content" class="modal modal_overlay_content">
        <div class="modal_postModify_window">
            <div class="modal_postModify_title">
                <div class="modal_title_side_post_cancel">취소</div>
                <div style="margin: 5px"> 정보수정 </div>
                <div class="modal_title_side_post_modify">완료</div>
            </div>
            <div class="modal_image_content_post">
                <div id="input_image_post" class="modal_image_upload_content_post" style="cursor:crosshair">
                    <th:block th:if="${#lists.size(images) > 1}">
                        <button class="afterBtnPost" id="afterBtn" style="cursor:auto">></button>
                    </th:block>
                    <button class="beforeBtnPost" id="beforeBtn"><</button>
                    <div class="tagModalPost">
                        <div></div>
                        <div class="tagSearchPost">
                            <div class="tag">
                                <h4>태그 : </h4>
                            </div>
                            <div class="searchInput">
                                <input placeholder="검색" name="tagUserPost">
                            </div>
                        </div>
                        <div class="tagUserListPost">
                            <span class="snipper"></span>
                            <!--
                            <div class="tagSearches">
                                <div class="tagSearchUser">
                                    <img th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}">
                                    <div class="tagUserInfo">
                                        <div>아이디</div>
                                        <span>이름</span>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <div id="tooltipArea_post">
                        <th:block th:each="userTag:${userTags}">
                            <div class='tag1' th:style="'top:'+${userTag.top}+'px;left:'+${userTag.left}+'px;display:block;'" th:data-no="${userTag.tag_user_no}" th:data-top="${userTag.top}" th:data-left="${userTag.left}" th:data-page="${userTag.page}" th:if="${userTag.page == 0}">
                                <div></div>
                                <div class="username"><span>[[${userTag.username}]]</span><button>x</button></div>
                            </div>
                            <div class='tag1' th:style="'top:'+${userTag.top}+'px;left:'+${userTag.left}+'px;display:none;'" th:data-no="${userTag.tag_user_no}" th:data-top="${userTag.top}" th:data-left="${userTag.left}" th:data-page="${userTag.page}" th:if="${userTag.page != 0}">
                                <div></div>
                                <div class="username"><span>[[${userTag.username}]]</span><button>x</button></div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="modal_content_write">
                    <div class="feed_name">
                        <div class="profile_box">
                            <th:block th:if="${#strings.isEmpty(user.profileImg)}">
                                <img id="input_profile_image" class="profile_img" th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}">
                            </th:block>
                            <th:block th:unless="${#strings.isEmpty(user.profileImg)}">
                                <img id="input_profile_image_o" class="profile_img" th:src="@{/thumb/{img}(img=${user.profileImg})}">
                            </th:block>
                        </div>
                        <span id="input_user_id" class="feed_name_txt" th:data-no="${user.no}">[[${#authentication.principal.username}]]</span>
                    </div>
                    <div style="height: 440px">
                        <textarea id="input_content_post" class="feed_content_textarea form-control col-sm-5" rows="10" placeholder="설명을 입력하세요..."></textarea>
                    </div>
                </div>
            </div>
            ​
        </div>
    </div>
</th:block>
</html>