<!DOCTYPE html>
<!--/*
날짜 : 2023/03/15
이름 : 조주영
내용 : 탈퇴화면
*/-->
<html xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/profileLayout}">
    <th:block layout:fragment="main">
        <div id="modi">
          <div id="mySelect">
              <div>
                  <a th:href="@{/profile (username=${user.username})}">프로필</a>
              </div>
              <div>
                  <a th:href="@{/profile/modify}">프로필 변경</a>
              </div>
              <div>
                  <a th:href="@{/profile/changePass}">비밀번호 변경</a>
              </div>
              <div class="currentMenu">
                  <a th:href="@{/profile/deleteUser}" class="currentSet">탈퇴하기</a>
              </div>
          </div>
          <div id="myDelete">
              <div>
                  <div>
                      <th:block th:if="${not #strings.isEmpty(user.profileImg)}">
                          <img th:src="|@{/}thumb/${user.profileImg}" alt="profile" class="addProf"/>
                      </th:block>
                      <th:block th:unless="${not #strings.isEmpty(user.profileImg)}">
                          <img th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}" alt="profile" class="addProf"/>
                      </th:block>
                  </div>
                  <div>
                      <span>[[${user.username}]]</span>
                  </div>

              </div>
              <form th:action="@{/profile/deleteUser}" method="post" id="deleteSubmit">
                  <input type="hidden" name="no" th:value="${user.no}"/>
                  <table>
                      <tbody>
                          <tr>
                              <td>
                                  <span>비밀번호 입력</span>
                              </td>
                              <td>
                                  <input type="password" name="password"/>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  <input id="passChange" type="submit" value="탈퇴하기">
              </form>
          </div>
        </div>
    </th:block>
</html>
<script>
    $(function(){
        $("#deleteSubmit").submit(function(e){
            e.preventDefault();
            if(confirm('정말 탈퇴하시겠습니까?')){
                this.submit();
            }
        });

    });
</script>