<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>Photostagram</title>
  <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/png">
  <!-- 구글 폰트 -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/member.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <!-- 조광호 / facebook login test
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v10.0&appId=229061809607478" nonce="SiOBIhLG"></script>-->
</head>
<body>
  <main>
    <th:block layout:fragment="main"></th:block>
  </main>
<th:block th:replace="fragments/_footer::member_main_footer"></th:block>
</body>
<th:block layout:fragment="script">
</th:block>
</html>