<script th:src="@{/js/searchId.js}"></script>
<div class="form-container">
    <div class="form-content box">
        <div class="id-logo">
            <img th:src="@{/img/id.png}" alt="Id logo" class="logo-light">
        </div>
        <div class="signin-form-reg" id="signin-form">
            <div class="checkId">
                <p>아이디 찾기 결과</p>
            </div>
            <div class="checkResult">
                아이디 : <span id="result-id">kim***</span>
            </div>
            <div class="search">
                <a th:href="@{/member/login}">로그인하러 가기</a> <br> <br>
                <a th:href="@{/member/checkPass}">비밀번호 찾기</a>
            </div>
        </div>
    </div>
    <div class="box goto">
        <p>
            계정이 있으신가요?
            <a th:href="@{/member/login}">로그인</a>
        </p>
    </div>

    <div class="app-download">
        <p>앱을 다운로드 하세요.</p>
        <div class="store-link">
            <a href="#">
                <img th:src="@{/img/appDownload.png}" alt="app store">
            </a>
            <a href="#">
                <img th:src="@{/img/googlePlay.png}" alt="google play">
            </a>
        </div>
    </div>
</div>
