
                <div class="form-container">
                    <div class="form-content box">
                        <div class="pass-logo">
                            <img th:src="@{/img/password.png}" alt="searchPass logo" class="logo-light">
                        </div>
                        <div class="signin-form-reg" id="signin-form">
                            <div class="checkId">
                                <p>비밀번호 찾기</p>
                            </div>
                            <div class="guide">
                                <span id="resultName">홍길동</span> 회원님, 임시 비밀번호를 고객님의 이메일 <br>
                                <span id="resultEmail">kimwoo***@naver.com</span>로 전송하였습니다. <br> <br>
                                다시 로그인하여 주시기바랍니다.
                            </div>
                            <div class="search">
                                <a th:href="@{/member/login}">로그인하러 가기</a>
                            </div>
                        </div>
                    </div>
                    <div class="box goto">
                        <p>
                            계정이 있으신가요?
                            <a th:href="@{/member/login}">로그인</a>
                        </p>
                    </div>

                    <div class="app-download">
                        <p>앱을 다운로드 하세요.</p>
                        <div class="store-link">
                            <a href="#">
                                <img th:src="@{/img/appDownload.png}" alt="app store">
                            </a>
                            <a href="#">
                                <img th:src="@{/img/googlePlay.png}" alt="google play">
                            </a>
                        </div>
                    </div>
                </div>
